



<br>

<div class = "basic-grey">
<%= render "form", phone: @phone, class: "button"  %>
<h1>Editing phone</h1>
  <%= link_to "Show this phone", @phone, class: "button"  %> 
  <%= link_to "Back to phones", phones_path, class: "button"  %>
</div>
