<h1>Editing address</h1>



<br>

<div class = "basic-grey">
<%= render "form", address: @address %>
  <%= link_to "Show this address", @address, class: "button" %> |
  <%= link_to "Back to addresses", addresses_path , class: "button" %>
</div>
